@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text: #dceafa;
	--background: #020910;
	--primary: #8fc5ef;
	--secondary: #951c16;
	--accent: #e3dc42;
  --background-alt: #09131b;
  --listItem: #200d12;


  --text: #fcf8d5;
--background: #111001;
--primary: #f7ef7c;
--secondary: #1ba00a;
--accent: #33f35d;

--text: #eaeff4;
--background: #0c1218;
--primary: #a0bbd4;
--secondary: #33587a;
--accent: #4a85bb;
--listItem: #14202b;
--background-alt: #131a22;
/* --background-alt: #101922; */


}
.projectName {
  font-weight: bolder;
  font-size: 1.5rem;
  text-shadow: 5px 5px 4px #000;
}
.name {
  color: #33f35d;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
}
.budgetIcon {
  font-size: 1.5rem;
  /* background-color: #33f35d; */
  background-color: var(--accent);
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cta {
  background-color: var(--accent);
  color: var(--text);
  padding: .5em 1.2em;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  display: none;
}
.cta__alt {
  background-color: var(--accent);
  color: var(--text);
  padding: .5em 1.2em;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.cta:hover {
  background-color: var(--secondary);
}

.hasBudget {
  display: inline-block;
}

.topHeader {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
  margin-top: 3em;
}
.card {
  background-color: var(--secondary);
  /* background-color: var(--accent); */
  color: var(--text);
  padding: 1em;
  border-radius: 4px;
  margin-bottom: 1em;

  position: relative;
  display: flex;
  align-items: center;
}
.card header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.addBudget {
  position: absolute;
  left: 0;
  right: 0;
  top: 3.5em;
  width: 100%;
  margin-top: 0.3em;
  padding: 0 .4em;
  display: none;
  z-index: 2;
}
.isEditingBudget {
  display: flex;
}

.addBudget input {
  width: 100%;
  padding: .4em 0em .4em .8em;
  border-radius: 5em 0 0 5em;
  color: var(--background);
}
.addBudgetBtn {
  background-color: var(--accent);
  padding: .4em .8em;
  border-radius: 0 5em 5em 0;
  text-transform: capitalize;

}
.transactions {
  margin: 3em 0;
  display: none;
  /* display: grid;
  grid-template-columns: repeat(4, 1fr) auto;
  gap: 1em; */
}
.hasMadeTransaction {
  display: block;
}

.transaction__header {
  margin: 3em 0 0;
}

.expenseItem {

  background-color: var(--listItem);
  padding: 1em;
  border-radius: 4px;
}
.cardTitleHeader {
  font-weight: bold;
  opacity: .6;
}
.first {
  display: none;
}


/* desktop */
/* table */
.transactionList {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1em;
}

.message {
  max-width: 400px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.message p {
  font-size: 2rem;
  text-align: center;
}

.modal {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em;
  color: var(--text);
  display: none;
}
.isOpen {
  display: grid;
  place-content: center;
}
.form {
  background-color: var(--listItem);
  padding: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 400px;
  margin-inline: auto;
}
@media (min-width: 500px) {
  .form {
  padding: 2em;

  }
}
.form header {
  margin-bottom: 1em;
}
.form h1 {
  font-size: 1.5rem;
}
@media (min-width: 500px) {
  .form h1 {
    font-size: 2rem;
  }
}
.form__field input{
  padding: .5em 2em;
  border-radius: 4em;
  width: 100%;
  color: var(--background);

}
.category h1 {
  font-size: 1.5em;
  opacity: .6;
}
.options {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 1em 0;
}
.options > section {
  position: relative;
}
.options input {
  position: absolute;
  visibility: hidden;
}
.options input:checked ~ label span {
  background-color:  var(--accent);

}
.options label {
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  cursor: pointer;
}
.options label span {
  border: 1px solid var(--accent);
  padding: 0.2em .8em;
  border-radius: 0 1em 1em 0;

}
.options label:hover span {
  background-color:  var(--accent);
}
.submit {
  background-color:  var(--accent);
  padding: .5em 2em;
  border-radius: 4em;
  justify-self: flex-end;
}
.submit:hover {
  background-color:  var(--secondary);
}
@media (min-width: 768px) {
  .expenseItem.first {
    background-color: transparent;
    margin-top: 1em;
  }
  .cardTitleHeader {
    display: none;
  }
  .transactionList {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .expenseItem {

    display: grid;
    grid-template-columns: repeat(4, 1fr) auto;
    gap: 1em;
  }
  .btns p {
    visibility: hidden;
  }
}